[2018-10-22 13:20] darkowlzz opened #10 "Create the cleanup job in operator namespace"
The cleanup job is created in the default namespace, at the moment. It would be better to keep all the operator generated resources in the same namespace.

[2019-02-11 13:20] darkowlzz opened #54 "NodeSelectorTerms parsing should fail for unknown operator"
The operators supported by NodeSelectorTerms are not the same as Node Selectors. Any unknown operators should return error and fail.

Refer: https://github.com/storageos/cluster-operator/blob/v0.0.8/pkg/controller/storageoscluster/storageoscluster_controller.go#L273-L278

[2019-02-15 07:08] tobiaskohlbau opened #58 "Add daemonset node tolerations support"
We've the desire to deploy specific storage nodes. In order to achieve this we set a node taint to avoid scheduling any workload pods onto them. In order to schedule the storageos pods onto them, the operator needs to inject a node toleration in the daemonset. I would like to see this be supported by adding support in similar way as #19 did for node selectors.

What are your thoughts about this?
I

[2019-02-15 10:02] Arau commented on #58
Hi @tobiaskohlbau,

that makes complete sense. We are adding this into the roadmap. StorageOS cluster-operator is under heavy development to add more functionality and support, if for the moment and until we add the tolerations, you want to be able to edit the DaemonSet you can use a different method to install, https://github.com/storageos/deploy/tree/master/k8s/deploy-storageos/standard. That me

[2019-02-17 11:00] tobiaskohlbau commented on #58
Hello @Arau I've started implementing this.

See #59 for more information and a draft pull request.

For my tests I've setup a 1 master 2 worker node cluster. I've encountered weird behaviour after adding node tolerations and *not* adding this into the CR the storageos container can't connect to it's embedded etcd. Is this a limitation from storageos that single nodes do not work, or did I messed

[2019-02-17 16:21] Arau commented on #58
Hi @tobiaskohlbau,

the etcd is a datastore that ensures data consistency across its instances. To do so, it requires quorum. Hence an odd number of nodes. In your case, 2 workers are not enough to have quorum. You need either one or three nodes.
Have you deployed StorageOS in the master? If so, the Pod in the master usually can't start making the discovery process unfit to start the rest of the n

[2019-02-20 17:23] #58 closed

[2019-03-25 15:31] darkowlzz opened #85 "Add operator-courier lint for the OLM bundle"
Refer: https://github.com/operator-framework/operator-courier

[2019-03-28 11:52] hei-pa opened #90 "Which fsTypes are supported"
I have zpool mounted on `/var/lib/storageos`.

Using ext4 as fsType crashes when the pvc is used and the final `mount -t ext4 ..` is executed.
I do not find any other supported fsTypes. I have tried setting `zfs` as fsType without luck.

Is is possible in general or do I have to use ext4?

[2019-03-28 12:45] avestuk commented on #90
Hi @hei-pa we do not support zfs as a fsType. We support the following fsTypes: ext2, ext3, ext4, btrfs and xfs

https://docs.storageos.com/docs/concepts/volumes

[2019-03-28 12:47] darkowlzz commented on #85
Fixed in #89

[2019-03-28 12:47] #85 closed

[2019-03-28 13:04] hei-pa commented on #90
ok thanks for the info

zfs can be mounted legacy like other filesystems. So `mount -t zfs ...` does work. What are the limitations this is not supported?

[2019-03-28 14:10] avestuk commented on #90
@hei-pa could you perhaps share any logs you have about the crash with us? For instance what did the PVC events log show? If it's easier to do so you can send the crash reports to support@storageos.com

With regards to what filesystems we support we are agnostic to what file system is mounted on `/var/lib/storageos`. The fsType of the StorageClass has been designed to be pluggable such that if eno

[2019-03-28 14:21] hei-pa commented on #90
Ok I have not that deep knowledge of kubernetes and pvc at all. I have setup a single master node to evaluate a little bit.

My setup with zpools as root filesystem or data pools mounted to `/var/lib/storageos` sounds not that uncommon.

Is it possible to delete the current StorageClass and create a new one without reinstalling the whole storageos part?

[2019-03-28 14:57] avestuk commented on #90
@hei-pa So using zpools or data pools as the file system mounted under `/var/lib/storageos` should not be an issue.

You can create a new Storage Class and change the fsType parameter to one that you want. `kubectl get sc fast -o yaml > /tmp/sc.yaml` would save the storage class out to /tmp/sc.yaml so you could edit the file and then `kubectl apply -f /tmp/sc.yaml` to create a Storage Class that u

[2019-03-28 15:03] hei-pa commented on #90
yes i have deleted the sc fast and it was recreated from storageos

with this one (have ext4 as fsType) is looks good to me
[code]

[2019-03-28 16:22] avestuk commented on #90
@hei-pa Could you show me what the StorageClass you are using looks like?

Also could you try and create a volume using the StorageOS CLI? `storageos volume create test` and then use the CLI to mount that volume on one of your node `storageos volume mount test /mnt`
https://docs.storageos.com/docs/reference/cli/

[2019-03-28 16:53] hei-pa commented on #90
i have a zfs storageclass after i have followed your advice to extract the original with `-o yaml >`
[code]

Now using this one in a pvc results in
[code]
There is no mkfs.zfs ... it's not working that way.

Now trying the `storageos` cli results in similar errors

[code]

[code]

It would be fine for me if storageos creates ext4 filesystem blobs, but the underlaying filesystem has to be a zpool b

[2019-03-29 15:53] avestuk commented on #90
@hei-pa I checked with colleagues and when using CSI StorageOS actually does the formatting of the block device. However we do not currently support ZFS filesystems so this is not possible.

On the subject of the partitions we do not create partitions on our volumes, however the lack of partitions does not prevent the file system from being mounted. In the output below I have mounted the volume de

[2019-03-30 16:02] hei-pa commented on #90
Ok got the partition thing.

Here is the output

[code]

So it does not work to force a ext4 blob file for some reason

[2019-04-01 10:51] avestuk commented on #90
@hei-pa Thanks for doing that. I've created a ticket internally for someone to recreate this issue however I do not know when the development team will be able to spend time working on this issue. In the meantime I'd suggest that you move `/var/lib/storageos` to a file system that is not ZFS formatted.

If you've got any questions in future feel free to send me a message on our [public slack](http

[2019-04-15 18:37] darkowlzz opened #98 "Add CRD spec and status descriptors in CSV"
All the fields in spec and status should have human readable descriptions.
Examples of a few spec and status field description are [here](https://github.com/storageos/cluster-operator/blob/v1.0.0/deploy/olm/storageos/storageos.v0.0.12.clusterserviceversion.yaml#L257-L280).
All the fields in [spec](https://github.com/storageos/cluster-operator/blob/master/pkg/apis/storageos/v1/storageoscluster_type

[2019-04-25 10:39] croomes commented on #98
Fixed in https://github.com/storageos/cluster-operator/pull/104

[2019-04-25 10:39] #98 closed

[2019-04-25 10:43] croomes opened #111 "StorageClass name should be configurable"
Currently defaults to "fast", with no way to change during install.

[2019-04-29 17:10] #54 closed

[2019-04-30 18:40] SKD-SKD opened #116 "operator-sdk build storageos/cluster-operator:test fails"
from readme :
 $GOPATH/bin/operator-sdk build storageos/cluster-operator:test
INFO[0000] Building Docker image storageos/cluster-operator:test
Sending build context to Docker daemon 281.3 MB
Step 1/19 : ARG BUILD_IMAGE=golang:1.11.5
Please provide a source image with `from` prior to commit
Error: failed to output build image storageos/cluster-operator:test: (failed to exec []string{"docker", "buil

[2019-05-01 08:34] darkowlzz commented on #116
Hi, thanks for reporting. Sorry that we haven't kept the setup docs up-to-date.
Please use `make` to build the container.
`make image/cluster-operator` will download all the required tools and build everything in a container.

I tried the above command with sdk cli v0.5.0 and it still seems to work fine:
[code]

Using the make file is the recommended way to develop, we don't guarantee `operator-sd

[2019-05-01 15:21] SKD-SKD commented on #116
i have
[code]

make image/cluster-operator
[code]
fails

if i heck Dockerfile

[code]
then it works :
[code]

[2019-05-01 15:27] SKD-SKD commented on #116
$GOPATH/bin/operator-sdk build storageos/cluster-operator:test works and creates image as well

[2019-05-01 16:47] darkowlzz commented on #116
Interesting... I've seen this behavior in the redhat container build service. The container runtime doesn't support arguments and templates. And for that we have a separate [Dockerfile](https://github.com/storageos/cluster-operator/blob/master/build/rhel-build-service/Dockerfile). It looks similar to the changes you made.
Can you share more about the docker version or the container runtime you are

[2019-05-01 17:50] SKD-SKD commented on #116
sure, docker version
[code]

[code]

[2019-05-01 17:58] darkowlzz commented on #116
Thanks. I'm using 18.09 on my development machine. But our CI uses 17.09 https://travis-ci.org/storageos/cluster-operator/jobs/526864684#L33-L48 and the image building works fine there https://travis-ci.org/storageos/cluster-operator/jobs/526864684#L856.
I'm not sure what's causing this issue. It would be great to know and fix it if possible.
What's your OS? I've a feeling that the redhat family (

[2019-05-01 18:01] SKD-SKD commented on #116
sure :

[code]

[2019-05-01 18:07] darkowlzz commented on #116
CI also uses ubuntu. Now I've no clue why we are seeing different behaviors for the same major version of docker and OS.
For now, you can use the https://github.com/storageos/cluster-operator/blob/master/build/rhel-build-service/Dockerfile to build the container.

[2019-05-01 18:10] SKD-SKD commented on #116
i am ok to build it with heck-ed Dockerfile
do you think it is my Docker version ?
do you know how i can upgrade version without stopping it / I run kube and it is my master :)

[2019-05-01 18:13] darkowlzz commented on #116
I usually just follow the official docs https://docs.docker.com/install/linux/docker-ce/ubuntu/ . AFAIK the docker daemon does everything and you have to restart the daemon process to enable the new version.

[2019-05-01 18:21] SKD-SKD commented on #116
oh, this now can be a bit of the problem :) for me now, as i am running kube and it's apps on this cluster.
ones (at some point) it all may go down, i will do the Docker upgrade

[2019-05-06 21:32] SKD-SKD opened #121 "removing "rm -rf /var/lib/storageos" unable to delete /var/lib/storageos/volumes"
[code]

[2019-05-07 10:44] avestuk commented on #121
Hi @SKD-SKD, /var/lib/storageos/volumes is mounted by the kubelet and needs to be unmounted before /var/lib/storageos can be deleted. Currenlty the operator cleanup job does not do the umount which is something that I will raise a request to get fixed.

In the meantime I'd suggest using a bash for loop to ssh into each node, umount storageos and then delete /var/lib/storageos.

[2019-05-07 18:54] SKD-SKD commented on #121
sure i will use :
[code]
on every node
thank you

[2019-05-08 20:59] SKD-SKD opened #122 "storageos pod is not evicted when kube node is NotReady"
Hello,

i see that
storageos-daemonset POD is not being "removed" form the NotReady node.

[code]

i waited for minuets

[2019-05-09 08:47] darkowlzz commented on #122
Hi, can you provide more details about your deployment? The cluster config file or a description of the storageoscluster resource would be very useful.

If the operator version you're running is from the master branch and not a stable release, this is the right behavior. In #110 we added pod priority class to the storageos pods to make them critical resource, resulting in no eviction. We need this

[2019-05-09 15:09] SKD-SKD commented on #122
sure,
it is form the master
[code]
[code]

[2019-05-09 15:10] SKD-SKD commented on #122
my namespace is : storageos  , made no changes so far in the files i got from master

[2019-05-09 15:17] SKD-SKD commented on #122
when the "node" removed form the cluster, it is shown in the "kubectl get pods"
, but using "describe" - the pod it is not ready,
i think at this time it needs to be evicted.
please correct me if there are other thoughts  or considerations

[2019-05-09 15:24] darkowlzz commented on #122
In that case, I don't think there's anything wrong or anything that can be done. It's the k8s scheduler that makes decisions about eviction based on various factors. Our concern is try to not get evicted as much as possible. We don't have control over the scheduler's decision and I don't see anything bad with it. Usually the k8s scheduler takes action when a node is not available after a minute or

[2019-05-09 15:26] darkowlzz commented on #122
Also, `kubectl describe stos example-storageoscluster` will show you the description of your current status with all the active nodes and their health.

[2019-05-09 15:48] SKD-SKD commented on #122
if i enable/put the node back to the cluster, the container does not start ( restart ) properly  - that is what i saw yesterday.

if i evict the pod manually ( force pod delete )and then add the node back, Deamonset restarts container, then  container start successfully

if i add / edit      "tolerations:"  for the pod :

[code]
with
[code]
right before i remove the "node", pod get evicted success

[2019-05-09 16:17] darkowlzz commented on #122
In that's what's happening we can add tolerations for all the resources, something like this in the pod spec:
[code]
That should improve the recovery delay for all the pods.

[2019-05-09 16:31] SKD-SKD commented on #122
yes, what file needs to modified ?  or it is in operators source code ?

[2019-05-09 17:09] darkowlzz commented on #122
To first test it, you can directly edit the daemonset resource and add the toleration in it.
If it results in the right behavior, you can add those toleration in the cluster spec like [this](https://github.com/storageos/cluster-operator/blob/1.1.0/deploy/crds/storageos_v1_storageoscluster_cr.yaml#L63).
We don't have any default tolerations at the moment. This type of toleration to improve the reco

[2019-05-09 18:04] SKD-SKD commented on #122
i agree,
if you test , and see different beaver,  please let me know

since "node down" can be possible event that we need to heal, I think evicting the pod make scene

and to my taste,-  as soon as possible, then restarting it then the node is back
please share if this works well from storageOS point of view

[2019-05-10 09:08] darkowlzz commented on #122
I tried this and I'm afraid we can't do much when it comes to DaemonSets.
As per https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#taint-based-evictions

    node.kubernetes.io/not-ready

We can't set the toleration time. I guess we have to wait for the k8s scheduler to automatically detect and restart the DaemonSet pod.

[2019-05-10 15:25] SKD-SKD commented on #122
more info here :
https://docs.openshift.com/container-platform/3.11/admin_guide/scheduling/taints_tolerations.html :
[code]

[2019-06-11 12:27] robinbraemer opened #133 "Volume still in mounted=true state after pod has volume unmounted"
The StorageOS volume's mount state is not switching to false after the volume is unmounted.

Steps to reproduce:
- create a volume `storageos-volume-test` in storageos
- apply following yaml after updating secret to access your storageos cluster:
[code]

The pod is successfully mounting to the fresh volume.
Now when deleting the pod `kubectl delete pod test-issue` and looking up the volume (with t

[2019-06-11 13:15] avestuk commented on #133
@robinbraemer What Kubernetes version are you running and are you using the CSI driver or the native driver?

[2019-06-11 13:29] robinbraemer commented on #133
I have `cluster.csi.enable` enabled

[code]

[2019-06-11 14:01] avestuk commented on #133
@robinbraemer Thanks. Could you share your volume definition as well please? I'm a little thrown by the way the volume is being referenced in your pod definition. Typically volumes would be created as a persistentVolumeClaim and referenced that way.
[code]

The storageos secret doesn't need to be referenced when using CSI as Kubernetes-StorageOS communication takes place using a socket rather than

[2019-06-11 17:53] robinbraemer opened #134 "failed to dial all known cluster members, (http://storageos.kube-system.svc.cluster.local)"
I'm trying to connect a in-cluster client to the StorageOS API but cluster members cannot be found.

This is my go code
[code]

and then I run a test ping
[code]

and there is the error
[code]
The pod is running in another namespace.

This is the storageos service:
[code]

[2019-06-12 09:15] avestuk commented on #133
Hi @robinbraemer sorry could you share the Kubernetes volume definition?

Also could you show me what StorageOS pods you've got running? The API is only used when the native driver is used. CSI uses a socket for Kubernetes-StorageOS communication so the secret is only required to create a username/password for the StorageOS GUI/CLI.

[2019-06-12 11:04] #121 closed

[2019-06-12 11:08] croomes commented on #134
Hi @robinbraemer, can you try appending the port (`:5705`) to `STORAGEOS_HOST`?  Just had a quick look at the api code and it only seems to set the default port if you've not set `STORAGEOS_HOST` at all, otherwise it expects the port to be set.

If that doesn't work you could try to isolate by running the CLI in the same namespace, and see if that can connect?  There's a script to do that here: ht

[2019-06-30 01:50] andrebriggs opened #138 ""Inspect a StorageOSCluster Resource" documentation out of date"
Currently the [instructions](https://github.com/storageos/cluster-operator/blob/master/README.md#inspect-a-storageoscluster-resource) say to execute

`$ kubectl describe storageoscluster/example-storageos `

Which yields
`Error from server (NotFound): storageosclusters.storageos.com "example-storageos" not found`

Instead one should execute

<pre>$ kubectl describe storageoscluster/example-storage

[2019-06-30 15:11] #138 closed

[2019-07-05 12:52] imriss opened #141 "[Kubernetes][KubeSpray] Error: OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"storageos\": executable file not found in $PATH": unknown"
Some of a `StorageOS` cluster's `pods` fail to start the container with the following error: `OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"storageos\": executable file not found in $PATH": unknown`

The `describe` of the `pod`:
[code]

Any advise?

Thanks

[2019-07-05 13:01] Arau commented on #141
Hello @imriss ,

this looks like a docker error. Could you please add a bit of information about your environment. For instance, k8s version, how did you install StorageOS? Using the StorageOS cluster Operator? Helm? etc. Did you follow any particular storageos documentation page to install? In case of using the Cluster Operator. Could you please add the Custom Resource yaml?

On the other hand, i

[2019-07-05 13:22] imriss commented on #141
@Arau , thanks, please see below:

**k8s version**:
[code]

**Installation of Cluster Operator** (following [the official guide](https://docs.storageos.com/docs/platforms/kubernetes/install/1.13)):
[code]

**Adding the secret**:
[code]

**Installation of Storageos Cluster**:
[code]

**Custom Resource yaml**:
[code]

**Error in the syslog**:
[code]

**Docker containers on that node** (the `daemonse

[2019-07-05 13:27] imriss commented on #141
**Docker version**:
[code]

[2019-07-05 13:29] imriss commented on #141
There is [a comment](https://github.com/docker/for-linux/issues/561#issuecomment-484123472) that might be related:
[code]

[2019-07-05 13:40] imriss commented on #141
**Docker service's settings**:
[code]

**Docker service's options**:
[code]

[2019-07-05 17:02] imriss commented on #141
After resetting all the nodes, the issue was resolve: All the `storageos` cluster' `pods` are running.
However, now there is an `exit status 5` error message when a deployment with `pvc` is deployed. I open another issue for that case. Thanks

[2019-07-05 17:02] #141 closed

[2019-07-05 17:33] imriss opened #143 "[Kubernetes][KubeSpray] MountVolume.SetUp failed for volume "pvc-371a14b0-8426-4ce9-86f5-abe83e59743b" : exit status 5"
In a `Kubernetes` cluster deployed using `KubeSpray`, `StorageOS Operator` has been deployed, and also a `storageos` cluster has been deployed using the operator, and all its `pods` are running. However, I try to deploy an app that uses `pvc`, the `pod` stays in creating state, and this error appears in the `describe` of the `pod`: `MountVolume.SetUp failed for volume "pvc-371a14b0-8426-4ce9-86f5-

[2019-07-05 17:35] imriss commented on #143
**k8s version**:
[code]

**Installation of Cluster Operator** (following [the official guide](https://docs.storageos.com/docs/platforms/kubernetes/install/1.13)):
[code]

**Adding the secret**:
[code]

**Installation of Storageos Cluster**:
[code]

**Custom Resource yaml**:
[code]

[2019-07-05 17:37] imriss commented on #143
Also, `kubelet_load_modules` was set to `true` in `inventory/test/group_vars/all/all.yml` file in `KubeSpray`:
[code]

[2019-07-08 08:02] Arau commented on #143
Hello @imriss

In the past I've seen that Kubespray disables MountPropagation when a cluster is built. That would explain why the Kubelet can't mount the Volume.

There are 2 things to check
- Create this pod to verify mount propagation. It doesn't use StorageOS, just the configuration for Bidirectional mount. (https://github.com/storageos/deploy/blob/master/k8s/examples/mount-propagation/test-mou

[2019-07-08 12:55] imriss commented on #143
@Arau , thanks

- `MountPropagation` to be there:
[code]
- However, that directory does not exist:
[code]
Thanks

[2019-07-08 13:44] Arau commented on #143
Sorry, I meant `/var/lib/storageos/volumes`

[2019-07-08 15:26] imriss commented on #143
Thanks, please see below:
[code]

[2019-07-09 14:54] imriss commented on #143
Based on [this comment](https://github.com/storageos/storageos.github.io/issues/196#issuecomment-418174783), I redeployed the cluster using KubeSpray after adding this change to `group_vars/k8s-cluster/addons.yml`:
[code]
in addition to the following in `group_vars/all/all.yml`:
[code]
Should I deploy the `storageos` using [the official guide](https://docs.storageos.com/docs/platforms/kubernetes/i

[2019-07-09 15:51] Arau commented on #143
Hello @imriss ,

We have released StorageOS 1.3.0. With that the `./deploy.sh` becomes deprecated or unnecessary.

The official guide has always the proper information. The procedure is reduced to:

1. `kubectl create -f https://github.com/storageos/cluster-operator/releases/download/1.3.0/storageos-operator.yaml`

2. Create the `storageos-api` Secret if doesn't already exist
3. Create the Curstom

[2019-07-09 16:09] imriss commented on #143
Thanks. The `kubelet_deployment_type` is set to host:
[code]
How can I check if `SELinux` is enabled?
I will deploy using the official guide and update.

[2019-07-09 17:09] imriss commented on #143
The issue is still there:
[code]

The contents of `/var/lib/storageos/volumes`:
[code]

`mount-propagation` in there:
[code]

[2019-07-25 09:32] robinbraemer commented on #133
Sorry, I misunderstood something. Closing

[2019-07-25 09:32] #133 closed

[2019-08-13 16:22] blacs30 opened #152 "Expand PersistentVolumes in k8s"
On this page [https://storageos.com/why-storageos/](https://storageos.com/why-storageos/) I read something about `volume resize`.

However I wasn't able to find further documentation about it.

I am testing StorageOS on Kubernetes, both latest version as of writing.
According to the Kubernetes documentation StorageOS doesn't support expanding (yet) [https://kubernetes.io/docs/concepts/storage/pers

[2019-08-14 09:19] actionbuddha commented on #152
Hi, thanks for pointing this out. We don't yet have volume resize in the product, but it is coming in a future release. Please keep an eye on our changelog for more details! We'll amend the website accordingly.

[2019-08-14 09:19] #152 closed

[2019-09-07 02:56] esara opened #162 "storageos operator missing pods/log permission"
$ kubectl logs -f storageos-cluster-operator-598bbc4d79-k66qj  -n storageos-operator
2019-09-07T02:46:03.279Z	INFO	storageos.job	Creating a new DaemonSet	{"Request.Namespace": "default", "Request.Name": "storageos-job"}
2019-09-07T02:46:03.342Z	DEBUG	kubebuilder.controller	Successfully Reconciled	{"controller": "job-controller", "request": "default/storageos-job"}
2019-09-07T02:46:03.478Z	INFO	sto

[2019-09-20 15:42] darkowlzz opened #169 "Missing properties from CR"
The CRs are missing the properties with default values and the properties that have inferred values.

In the StorageOSCluster resource, the spec contains only the values set in the CR:
[code]
The cluster default configurations should be set in the CR.

In the NFSServer resource, due to the same reason, the resource has no storageclass set, which is an inferred property.
[code]

[2019-09-24 10:04] #169 closed

[2019-09-26 14:41] stephen-dahl opened #174 "Feature Request: use a storage class for data volume instead of host dir"
Optionally use a stateful with PVCs for the StorageOS cluster. You already mount a local volume to each pod in the StorageOS cluster. replacing that with another storage class would allow the cluster to use our cloud providers storage class to back StorageOS.

This has the following benefits:
* Simpler setup since nodes do not have to be provisioned with extra storage ahead of time.
* abstracts th

[2019-09-30 18:58] croomes commented on #174
Hi, this is a really interesting idea.  Would it work for you if the nodes that provided storage ran as a StatefulSet, and the remaining nodes were provisioned as clients by a DaemonSet with anti-affinity on the storage nodes?

For provisioning the cluster initially, would it be enough to specify the number of storage nodes required and the PVC size?  Just thinking how to expose this via the CR or

[2019-09-30 20:00] stephen-dahl commented on #174
From your comment I am assuming that the current daemon set has logic that must run on every node. if that is the case then the best thing eventually would probably be to extract that logic into its own daemon set. this would make the data pods placement much more flexible and you don't have to worry about converting nodes as the stateful set grows.

This could probably be done in phases.
1. Curre

[2019-10-29 08:32] darkowlzz commented on #111
This was implemented in https://github.com/storageos/cluster-operator/commit/3ad1eb5832160b100ecac9e6eaa688d5355608cf .

[2019-10-29 08:32] #111 closed

[2019-12-04 18:43] includeamin opened #211 "Error on creation of PVC"
[code]

[2019-12-05 11:08] avestuk commented on #211
Hi @includeamin this error is a result of the StorageOS operator attempting to sync k8s node labels for a node that is not running StorageOS and as such is not part of the StorageOS cluster. The error is nothing to worry about and does not relate to the creation of your PVC.

We are aware of this issue and are working on a fix.

[2019-12-05 16:40] includeamin commented on #211
it was working properly but after an hour not work anymore.
I had MongoDB deployment with that PVC.

[2019-12-06 08:59] avestuk commented on #211
Could you send an email to us with the troubleshooting information requested on the page below? If you could upload the cluster diagnostic that'd also be very helpful.

https://docs.storageos.com/docs/support/contactus

[2019-12-09 14:23] includeamin commented on #211
sorry, I don't have that cluster anymore.  after that, I set up a fresh cluster.

[2019-12-09 14:25] nktl opened #214 "Cluster operator UI broken on OpenShift 4.2 - "Invariant Violation""
We are testing brand new, vanilla StroageOS deployment on OpenShift 4. 2 - when browsing cluster operator UI status URL:

https://cluster-console.app.local/k8s/ns/storageos-namespace/clusterserviceversions/storageosoperator.v1.5.1/storageos.com~v1~StorageOSCluster/example-storageos

We are getting the following error:

[code]

The cluster seems to work fine though and we can provision volumes - so

[2019-12-09 14:42] avestuk commented on #214
@nktl How are you accessing the StorageOS UI?

[2019-12-09 14:45] nktl commented on #214
Just though default openshift web console:

![image](https://user-images.githubusercontent.com/17342015/70444773-57defb80-1a92-11ea-8d97-08771c509ea0.png)

Clicking it results with the following:

![image](https://user-images.githubusercontent.com/17342015/70444874-79d87e00-1a92-11ea-928d-9045ef928b0f.png)

[2019-12-09 15:08] avestuk commented on #214
@nktl I think that may be the issue then. The `example-storageos` resource is a CustomResource called StorageOSCluster that the StorageOS operator acts on to create a StorageOS cluster.

The StorageOS UI is available on any node running StorageOS on port 5705. You can access the StorageOS UI through the StorageOS service, using port-forwarding or perhaps it works via the Openshift UI.  Alternative

[2019-12-09 16:11] nktl commented on #214
Thanks, the funny thing is that the link/view in question actually works when cluster is in provisioning state, then it breaks after deployment is completed - so it looks like some value from the completed deployment is bugging it out - so might be worth investigating still. You are correct however that I misnamed this thing 'UI', it seems to be just a cluster status page.

On the actual UI front,

[2019-12-09 16:47] avestuk commented on #214
That's very useful to know - thank you!

The credentials for the UI are what you created in step 5 if you followed the [Openshift 4.1 docs](https://docs.storageos.com/docs/platforms/openshift/install/4.1). If not then it's the apiUsername and apiPassword that are [defined in the secret](https://docs.storageos.com/docs/platforms/openshift/install/3.11#2-create-a-secret) that you created as part of

[2019-12-09 17:39] croomes commented on #214
Hi @nktl, thanks for raising this.  We're going to try and reproduce this - it looks like an Openshift error but we might be passing it data in the wrong format.  We made some changes to the status format recently (to be more compliant with Openshift!)

[2019-12-10 17:03] #211 closed

[2019-12-15 18:34] mikedickey opened #216 "error retrieving resource lock on k8s 1.17.0"
Fresh install using 1.5.1 operator on Kubernetes 1.17.0 (shipped with Ubuntu 18.04) results in the following error in storageos-scheduler pod:

[code]

[code]
I'm able to work-around it by adding `leases` to `clusterrole.rbac.authorization.k8s.io/storageos:scheduler-extender`

[code]
(Note that is probably more verbs than necessary)

[2019-12-16 12:20] #216 closed

[2019-12-16 12:26] darkowlzz commented on #216
Thanks for reporting. The fix will be available in the next release or can be used from the master branch by creating an install manifest with `make generate-install-manifest` and using the container image `storageos/cluster-operator:develop` in the manifest.

[2020-01-09 17:16] intrand opened #225 "get "failed to filter nodes: id or name not specified" when attaching a volume"
I've built a cluster of 3 managers & 3 workers from scratch just to debug this issue. Below is most/all of the relevant debugging info I could find in that cluster.

Since building clusters only takes a couple of minutes, I've bothered to try StorageOS on kubernetes 1.15, 1.16 and 1.17. All deployments/versions hit the exact same problem.

This is on StorageOS 1.5.2 (latest stable).

**What am I m

[2020-01-09 17:42] darkowlzz commented on #225
Hi,
Thanks for reporting the issue. It would be really helpful to get some more details about the k8s setup to reproduce this issue.

The issue is not the scheduler errors. As per the logs:
[code]
The scheduler couldn't schedule initially but eventually it did schedule on a node.

The actual issue is the error:
[code]
This is coming from the attacher-detacher controller.

When using CSI, the kubel

[2020-01-09 23:48] intrand commented on #225
Thanks for the quick response!

The `storageos` annotation is indeed missing from my worker nodes.

Hosts are running the **latest RancherOS** with **`docker` v19.03.1**.

I've setup the cluster using **[rke](https://github.com/rancher/rke/releases) `v1.0.1-rc5+`**. All kubernetes services, including kubelets, are running as containers on the various hosts.

# Steps to reproduce a failing cluster

[2020-01-10 11:45] darkowlzz commented on #225
Thanks for sharing all the details.
Running StorageOS CSI with RancherOS containerized kubelet had not worked in the past and we recommend using the StorageOS k8s native driver for containerized kubelet in our [Rancher docs](https://docs.storageos.com/docs/platforms/rancher/).

Other storage providers also have had similar issues when using CSI. Here's a discussion and workaround from digital ocea

[2020-01-10 15:04] intrand commented on #225
`--allow-privileged` is always true in 1.1+ (I'm on 1.17). Doing a `docker inspect kubelet` shows `"Privileged": true`.

Mount propagation is also turned on by default and working.

I will try StorageOS without CSI, but that's not the direction I was hoping for.

Thank you very much for all of your help! I really appreciate the quick and precise responses :)

[2020-01-10 17:26] intrand commented on #225
I still had problems mounting volumes when using RancherOS, so I decided to try an Ubuntu host instead. I tested with the *exact* same configuration as above.  It looks like things are working now.

[code]

I'm still concerned about the first couple of lines, but I guess that's another issue for another day :)

[2020-01-13 15:33] darkowlzz commented on #225
Great!
Those warning shouldn't be of concern. By default, storageos-scheduler is enabled when you install storageos. When the PVC and a consumer of the PVC pod are deployed together at the same time, sometimes the pod scheduling request is sent to the scheduler before the volume is created. This results in the error `id or name not specified`. It's the volume id or name. Within a few seconds, the

[2020-01-15 17:58] croomes commented on #225
Glad you got it working, but shame we still don't have a solution for RancherOS.  I suspect it's due to the kubelet path being set differently.  That directory would need to be shared into the node container using an rshared volume mount and the `DEVICE_DIR` and `CSI_ENDPOINT` env vars updated.  These note from Longhorn might be relevant: https://github.com/longhorn/longhorn/blob/master/docs/csi-c

[2020-01-21 15:17] intrand commented on #225
This is excellent information! Thank you very much for the references and explanation. I'm making a deployment currently and will post back with my results.

[2020-01-22 04:06] intrand commented on #225
Doesn't look like `rke` accepts using `rshared` on the `/var/lib/kubelet` directory in `cluster.yml`. Guess that's it for me.

Thank you for your help! If you want to continue troubleshooting a similar config, I think all of the information necessary is posted above.

[2020-04-18 19:32] PiotrKlimczak opened #238 "StorageOS 2 and OKD 4.4 volumes created after installation not visible in dashboard and not spread across nodes"
StorageOS 2 and OKD 4.4 volumes created after installation not visible in dashboard and not spread across nodes.
So when I create 2 replica volume, I can see on compute node that all replicas has been in fact created on single compute node.
This however works correctly when volume is created from dashboard.
Tested on bare metal OKD 4.4 Beta3 installation with 3 masters and 3 compute nodes.

[2020-04-20 15:10] Arau commented on #238
Question already answered on slack.

[2020-04-20 15:10] #238 closed

[2020-04-22 10:28] Arau commented on #238
Even though most of the questions have been addressed through the Slack channel, we would like to add information to the issue.

The StorageOS GUI segments the Volumes following the Kubernetes namespaces or in this case the OpenShift projects where the PVC is placed. In the GUI, there is picker selector at the top left to choose what namespace is the current view of the Volumes page. See the image

[2020-05-18 09:09] alter opened #246 "pod with storageos disk recreates about 5 minutes."
`
2020-05-18T08:54:40.323Z        ERROR   controller-runtime.controller   Reconciler error        {"controller": "node-controller", "request": "/k8snode3", "error": "API error (Server failed to process your request. Was the data correct?): node not found"}
github.com/storageos/cluster-operator/vendor/github.com/go-logr/zapr.(*zapLogger).Error
        /go/src/github.com/storageos/cluster-operator/v

[2020-05-18 09:40] StellaEngle commented on #246
Hello @alter Can I have some more information about the issue you are having please?

[2020-06-24 20:50] blacs30 opened #256 "[FEATURE] UI show volumes for all namespaces"
Running storageos 2.0.0, migrated now also to a SSD only server.
Startup of the same statefulsets feels like factor x20.

One thing I noticed is that there is no option to show volumes for all namespaces on one page.

I think it would make sense to have this option for the _nodes_ view
(if a namespace workload is on that node) and the _volumes_ view

[2020-06-27 21:09] michalalter opened #257 "Problem with AKS storage"
Hi all,

Am I missing smth or I don't see any capabilities to install storageos (even 2.x version) on dedicated pvcs attached to the nodes in clouds Kubernetes distrubutions?
For example this possibility has rook - could be provisioned and use pvc mounts from osd pods
The relevant part of rook:

[code]
The scenario is that in clouds like Azure  - cloud creates AKS nodes without possibility to mani

[2020-06-29 12:54] StellaEngle commented on #257
Hello Michal,

If I didn't misunderstand your question, no you can't install StorageOS on dedicated PVCs. StorageOS runs as daemonset pods on all the nodes in your cluster (you can also run storageos on a subset of nodes only as well if your use case requires it).  For example following this guide here [https://docs.storageos.com/docs/install/kubernetes/](https://docs.storageos.com/docs/install/ku

[2020-06-29 15:12] michalalter commented on #257
Hi Stella,
Thank you for your answer. Let me clarify a little bit more.
StorageOS by default is using /var/lib/storaeos directory for the storage and the rest of stuff. In vanilia Kubernetes I can do OS preparation very easily, I have access to nodes, so I can add a drive and mount (lvm or direct) to this dir.
In Cloud Kubernetes distributions, the access to the native OS is a little bit more diff

[2020-06-30 13:50] Arau commented on #256
Hi @blacs30,

thank you for opening the feature request. We really appreciate it!

You are completely right about the name spaces. In fact, that feature request is already in our Feedback pipeline to be improved. So I'm adding more weight to it 😃 .

We have put the feature in the CLI already, and we are planning to add that feature in the UI too. If for the time being, that helps, the CLI has the

[2020-06-30 13:50] #256 closed

[2020-07-07 13:34] StellaEngle commented on #257
Hello Michael,

I understand the difficulty you are facing in preparing your environment in AKS but unfortunately at the moment we don't offer a solution for this out of the box. We do have a roadmap item to add support in the future but we don't have a set released date unfortunately. Please also note that Azure has rolling updates on VMs for Kubernetes version changes, however an in-place upgrad

[2020-08-16 00:05] birdiesanders opened #272 "When trying to deploy, gcr.io/google-containers/kube-scheduler:v1.18.8 is not found and install can';t complete"
It seems that this image is not in the registry.

[2020-08-16 01:08] birdiesanders commented on #272
It seems that there is simply no skube-scheduler container image on grc-io, I am unsure of how I should proceed from here.

[2020-08-17 08:05] Arau commented on #272
Hello @birdiesanders ,

The StorageOS Cluster Operator detects the version and distribution of Kubernetes and based on that, it sets the image for the scheduler, which is a Kubernetes official image. We are looking why this one is not accessible.

In the meantime, you can follow the installation by disabling the scheduler. In the StorageOSCluster Custom Resource, you can define

[code]

Of course

[2020-08-17 10:35] Arau commented on #272
Hello @birdiesanders,

we have found that the latest release of Kubernetes didn't generate all the assets as usual. The repository where the kubescheduler official image changed. We are amending the references internally and checking the images for all previous versions for backwards compatibility. We will release a cluster image operator promptly.

[2020-08-17 18:25] birdiesanders commented on #272
Great work on being speedy! Looks like you were able to fix it with a one-line change! If only everything were so simple.

[2020-08-18 08:46] Arau commented on #272
Hi @birdiesanders, we have released a Cluster Operator Patch with a fix for it (v2.2.0).

Thank you for helping us with this issue. It is greatly appreciate it!

[2020-08-18 08:46] #272 closed

[2020-11-02 15:33] blacs30 opened #289 "Node metrics in v2"
First of all: thanks you for this great product.

Using StorageOS in a small private cluster for more than 2 years I believe and love it. Currently running v2.3.0, installed via helm chart.

I see that on the node pod an exporter starts on port `9721`, it's secured using the default user/password and is not documented at all. It contains a lot of interesting metrics but also not those similar to t

[2020-11-09 15:53] StellaEngle commented on #289
Hi @blacs30

We don't have that feature yet for v2.x but we are working on it to release it very soon.

Very glad to hear you like the product!

Thank you

[2020-11-11 12:12] #289 closed

[2020-12-08 22:00] nsoubelet opened #296 "Node containers can't connect to ETCD"
Hi there,
I am trying to deploy storageos for testing but I could not make node containers (`storageos-daemonset-xyz`) connect to etcd. I tried two different options:

1. Use an external etcd cluster I have.
2. Create an etcd cluster inside k8s cluster, as suggested in your documentation https://docs.storageos.com/v2.1/docs/prerequisites/etcd/

This is what log spits out:
[code]
Some important com

[2020-12-14 14:42] aeroniero33 commented on #296
Hi @nsoubelet ,

Could you send us over the StorageOS Cluster CR please? You can do that with `kubectl describe stos -A`

Could you also make sure that you have all the relevant firewall ports open? (https://docs.storageos.com/docs/prerequisites/firewalls/)

Also, is there a reason you are using v2.1? The newest version is [v2.3.2](https://docs.storageos.com/docs/install/kubernetes/).

[2020-12-24 09:40] nsoubelet commented on #296
Hi @aeroniero33
Thanks for replying.
Unfortunately I have uninstalled StorageOS but I will give it another try and send it over.

Yes, firewalls open, that's why I clarified points 2 and 3 in my issue.

I first tried with latest, then I tried other versions just is case there was a particular issue in that version, but it is failing in all 2.x versions.

[2020-12-30 16:27] coneking commented on #296
Hi @nsoubelet,
I know that your ETCD cluster are insecure but I had the same issue whit tls, in my case the problem was the secret resource `storageos-tls-etcd`.
When I created storageoscluster for the frst time, a secret was created (storageos-tls-etcd), this secret is used by Daemonset `storageos-daemonset` to comunicate Pods with the cluster ETCD, this secret contains the tls certs.
Then I unin

[2020-12-30 18:39] nsoubelet commented on #296
Hi @coneking
Many thanks for sharing. Really interesting, I will give it a try for sure!

[2021-01-03 19:31] nsoubelet commented on #296
Hi @coneking, I tried what you said with no luck. I don't see any secret being created by storage os apart from tokens. Maybe you are using a different version?.

@aeroniero33, please find bellow the output of the command. Some sensitive fields were replaced.

[code]

[2021-01-05 00:06] coneking commented on #296
Hi @nsoubelet,

The secret was created automatically in kube-system

[code]

Am using v2.3.1 and v2.3.2 on different clusters

[code]

[2021-01-05 13:18] nsoubelet commented on #296
Hi @coneking
I was not able to see that tls secret in my deployment.
However, I found the problem. Basically etcd cluster could not be resolved by service name, only by its IP. To me seems like a problem with the image, since all other containers I started referencing etcd cluster by service name in the same namespace worked ok.

[2021-01-05 13:18] #296 closed

[2021-02-07 20:37] sorinpepelea opened #303 "PVC attach/mount failed - csi.storageos.com not found"
In a microk8s environment, I installed storageos cluster-operator with helm3 chart , csi enabled .

Everything runs ok , including GUI, and PVC creation.

POD's instead fails to attach  - timeout with error : cannot find csi.storageos.com

My install command is as follow :
helm3 install grid-storageos storageos/storageos-operator \
	--namespace kube-system \
	--set cluster.kvBackend.address=192.16

[2021-02-07 21:00] Arau commented on #303
Hi @sorinpepelea,

the microk8s uses an immutable containerised kubelet. It is worth trying the `sharedDir` param from the values.yaml.

[code]

I don't know for certain if with microk8s the path that should be used is `sharedDir: /var/lib/kubelet/plugins/kubernetes.io~storageos`. But it is worth a try.

StorageOS and the Kubelet communicates through the CSI socket. So both of them need to be able

[2021-02-07 21:11] sorinpepelea commented on #303
I could only find "/var/lib/kubelet/plugins_registry/storageos" folder in my system .. I have microk8s installed with snap ..(official instructions) .. there is no '/var/lib/kubelet/plugins/kubernetes.io~storageos' location .

if i install storageos with --set sharedDir='/var/lib/kubelet/plugins/kubernetes.io~storageos' , nothing changes, error persists.
I also try to verify if mountPropagation is

[2021-02-07 21:15] sorinpepelea commented on #303
In /var/lib/kubelet/plugins_registry i have a file :
csi.storageos.com-reg.sock ,
and a folder : storageos  , that folder contains a file : csi.sock ..
I believe one of this must be accesible by kubelet ..but i don't know witch one ..

[2021-02-07 21:16] sorinpepelea commented on #303
But my error is csi.storageos.com not found,  it does not says csi.storageos.com-reg not found

[2021-02-08 11:09] Arau commented on #303
Hi @sorinpepelea,

I believe microk8s uses the kubelet root dir `--root-dir=${SNAP_COMMON}/var/lib/kubelet`. We tried internally and I think the solution could be to change that config to `--root-dir=/var/lib/kubelet`.

[2021-02-08 17:47] sorinpepelea commented on #303
so I should change

 "--root-dir=${SNAP_COMMON}/var/lib/kubelet"
whith
 "--root-dir=/var/lib/kubelet"
in
/var/snap/microk8s/1910/args/kubelet ?

And after a microk8s restart , install storageos ?
Did it worked internally ?.
Also is there an option to not depend on etcd ? (cause microk8s use something else now for HA)

[2021-03-04 08:56] mcolladoio commented on #303
@sorinpepelea Did you tried that options? For etcd I deployed a docker etcd cluster, but would be nice that requirement will be an optional opt-in.

[2021-04-04 23:17] #143 closed

[2021-09-04 08:28] camilamacedo86 opened #348 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-20 23:26] ukd1 commented on #348
Just hit this, running 1.22.

[code]

[2021-09-20 23:27] ukd1 commented on #348
Just hit this running 1.22 - not a great first time user experience:

[code]

[2021-09-21 08:48] croomes commented on #348
Hi, we're replacing this project with https://github.com/storageos/operator which is compatible with v1.22.  We should be releasing it soon.

[2021-09-23 01:20] ukd1 commented on #348
@croomes all your public docs point to this repo, and 1.22 has been out since early August, and these have been throwing warnings before they were removed. This wasn't / is not ideal first-time user experience for me, and I'm surprised.

[2021-10-07 13:54] camilamacedo86 commented on #348
Hi, would we have any update on this?

See that we are very close to the release data and fix the projects seems not very hard. See how to fix it in the first comment. Then, would be great to be able to check a new version of your project distributed which is compatible with 4.9.

[2021-10-08 14:37] camilamacedo86 commented on #348
HI croomes,

Could you make that clear in the Readme of this project and also if possible a description of your operator into the catalog? How your users will be aware of it?

Have you been distributing the other project on OCP? if yes, could you also publish compatible versions?

[2021-10-11 10:44] camilamacedo86 commented on #348
Hi @croomes ,

Be aware that: if you do not provide a workable solution via RedHat Connect asap:
-  Your package/project will be removed from 4.9 catalog
-  You cannot use replaces in your first publication made to add the project again on 4.9 when you publish the compatible version
- Your users cannot upgrade their cluster to use 4.9 with your solution installed then, they will need to stick on 4

[2021-10-11 12:00] croomes commented on #348
Hi @camilamacedo86, we are very close to releasing StorageOS `v2.5.0` which is based on the new operator at https://github.com/storageos/operator.  It is currently in beta.

How long do we have to release it before we're removed from the catalog?

cc @actionbuddha

[2021-10-11 13:13] camilamacedo86 commented on #348
Hi @croomes,

A project that does not exist now in 4.9 pre-ga indexes cannot be removed. So, for the new project that does not apply at all.

This issue is about `storageos2` package. This package has no compatible/workable solutions on 4.9 and then, before the 4.9 release, it will be removed from 4.9 if not provide any valid version with.

According to the https://connect.redhat.com/blog/api-depr

[2021-10-11 13:40] croomes commented on #348
@camilamacedo86 we'd planned to push the new operator (https://github.com/storageos/operator) to the `operator2` package rather than creating a new project.  We should be able to do this by the end of the week.

Hopefully that's the best approach?

[2021-10-12 15:20] camilamacedo86 commented on #348
HI @croomes,

Be aware that your first publication targeting OCP 4.9 (if not get in time) you cannot use the “replaces” configuration since any previous version published so far does not exist on 4.9 to be replaced. You can publish your new distribution using the skips or skipRange options instead of replaces. More info: https://v0-18-z.olm.operatorframework.io/docs/concepts/olm-architecture/opera

[2021-11-17 05:25] pavel75 opened #353 "storageos-csi-helper pod on CrashLoopBackOff"
Version: 2.4.4

hello,
Having issue with csi-helper pod. its continuously restarting with following error.

storageos-csi-helper in on CrashLoopBackOff state with following error.

error: a container name must be specified for pod storageos-csi-helper-779fc4c6d8-cmw6f, choose one of: [csi-external-provisioner csi-external-attacher csi-external-resizer]